#pragma code_page(1250)
STRINGTABLE
BEGIN

 50000  "πÊÍ≥ÒÛúüø"
 50001  "•∆ £—”åèØ"

 51000	"acelnosxz"    
 51001	"ACELNOSXZ"    

 60000 "PL"
 61000 "EN"



//------------------------ConfigForm------------------------------
 60100 "Stosuje zmiany dokonane w konfiguracji programu."
 61100 "Apply configuration changes"

 60101 "Zastosuj"
 61101 "Apply"

 60102 "Anuluje zmiany dokonane w konfiguracji programu."
 61102 "Cancel configuration changes."

 60103 "Anuluj"
 61103 "Cancel"

 60104 "OK"
 61104 "OK"

 60105 "Ustawienia strony"
 61105 "Page settings"

 60106 " Czcionka "
 61106 " Font "

 60107 "Wybierz"
 61107 "Select"

 60108 " Marginesy (mm) "
 61108 " Margins (mm) "

 60109 "Lewy"
 61109 "Left"

 60110 "Prawy"
 61110 "Right"

 60111 "GÛrny"
 61111 "Top"

 60112 "Dolny"
 61112 "Bottom"

 60113 " Orientacja "
 61113 " Orientation "

 60114 "Pionowa"
 61114 "Vertical"

 60115 "Pozioma"
 61115 "Horizontal"

 60116 "Domyúlne"
 61116 "Default"

 60117 " GÍstoúÊ "
 61117 " Density "

 60118 "IloúÊ linii na cal"
 61118 "Lines per inch"

 60119 "na stronÍ"
 61119 "per page"

 60120 "Opcje uøytkowe"
 61120 "Utility options"

 60121 " Lokalizacja dokumentÛw "
 61121 " Documents location "

 60122 "Folder plikÛw"
 61122 "Files folder"

 60123 "Maska plikÛw"
 61123 "Files mask"

 60124 "Rozszerzenie plikÛw formatujπcych"
 61124 "Formatting files extension"

 60125 "åcieøka do katalogu z plikami, ktÛre bÍdπ przetwarzane."
 61125 "Path to processing files folder"

 60126 "Maska plikÛw, ktÛre bÍdπ przetwarzane (np. *.txt)."
 61126 "Mask of processing files (e.g. *.txt)"

 60127 "Rozszerzenie plikÛw formatujπcych"
 61127 "Formatting files extension"

 60128 "w≥πczone"
 61128 "enabled"

 60129 " Aplikacja "
 61129 " Application "

 60130 "Przetwarzaj pliki co (ms)"
 61130 "Files processing period (ms)"

 60131 "Oczekiwanie na zakoÒczenie zapisu (ms)"
 61131 "Wait time from write ending (ms)"

 60132 "Piorytet"
 61132 "Priority"

 60133 "Okreúla czas, co jaki naleøy przetwarzaÊ kolejny plik."
 61133 "Time period of processing the next file."

 60134 "Okreúla po jakim czasie od ostatniego zapisu do pliku moøna go przetwarzaÊ."
 61134 "Waiting time from last file writig to processing."

 60135 "Uruchamianie programu przy starcie Windows."
 61135 "Run program on windows start"

 60136 "Uruchom przy starcie systemu"
 61136 "Run on Windows start"

 60138 "Format danych"
 61138 "Format of data"

 60139 " Znaki sterujπce "
 61139 " Control characters "

 60140 "Kody znakÛw koÒca strony"
 61140 "Codes of page end"

 60141 "odrzuÊ puste strony"
 61141 "Skip empty pages"

 60142 "Pomija pierwszy wiersz wydruku (jeøeli pusty)"
 61142 "Skip first line (if empty)"

 60143 "zgodnoúÊ z Clipper'em"
 61143 "Clipper compatibility"

 60144 " Konwersja znakÛw "
 61144 " Characters conversion "

 60145 "Strona kodowa"
 61145 "Code page"

 60146 "dodaj"
 61146 "add"

 60147 "usuÒ"
 61147 "remove"

 60148 "stary kod na nowy kod"
 61148 "old code to new code"

 60149 "Opis"
 61149 "Info"

 60150 "dodatkowo przekoduj"
 61150 "additionally transcode"

 60151 "Zapisz"
 61151 "Save"

 60152 "Wczytaj"
 61152 "Load"

 60153 "Inne"
 61153 "Misc"

 60154 " Logo "
 61154 " Logo "

 60155 "Plik bitmapy z logo"
 61155 "Bitmap logo file"

 60156 "Od lewej (mm)"
 61156 "From left (mm)"

 60157 "Od gÛry (mm)"
 61157 "From top (mm)"

 60158 "åcieøka do pliku w formacie BMP z logo."
 61158 "Path to BMP logo file."

 60159 "Drukuj logo tylko na pierwszej stronie"
 61159 "Pring logo on first page only"

 60160 "tylko na 1-szej stronie"
 61160 "on 1-st page only"

 60161 "Wejúcie/Wyjúcie"
 61161 "Input/Output"

 60162 "WybÛr drukarki"
 61162 "Printer selection"

 60163 "Drukarka domyúlna"
 61163 "Default Printer"

 60164 "Liczba kopii (posortowanych)"
 61164 "Number of copies (sorted)"

 60165 "Ignoruj pliki o zerowej d≥ugoúci"
 61165 "Ignore zero-sized files"

 60166 "Ignoruj puste pliki"
 61166 "Ignore empty files"

//------------------------CFU-ConfigForm-dynamic------------------
 60175 "pozostaw 0 by usunπÊ znak"
 61175 "set 0 to remove"

 60176 "wartoúÊ od 0 do 99"
 61176 "value from 0 to 99"

//------------------------CFU-PriorityClassNames------------------
 60200 "bezczynny"
 61200 "idle"

 60201 "normalny"
 61201 "normal"

 60202 "wysoki"
 61202 "hight"

 60203 "czasu rzeczywistego"
 61203 "realtime"

//------------------------CFU-------------------------------------
 60300 "Wskaø folder plikÛw."
 61300 "Select files folder."

 60301 "rozmiar"
 61301 "size"

//------------------------MainForm--------------------------------
 60400 "Konfiguracja"
 61400 "Configuration"

 60401 "Ustawienia programu."
 61401 "Program settings."

 60402 "ZakoÒcz"
 61402 "Exit"

 60403 "ZakoÒczenie pracy programu."
 61403 "Program exit."

 60404 "Tabele konwersji (*.tk)|*.TK"
 61404 "Conversion tables (*.tk)|*.TK"

 60405 "Pliki logo (*.bmp)|*.BMP"
 61405 "Logo files (*.bmp)|*.BMP"

//------------------------MFU-------------------------------------
 60500 "jest juø uruchomiony.\nPowtÛrne uruchomienie programu moøe spowodowaÊ b≥Ídy w jego dzia≥aniu.\n\nCzy chcesz uruchomiÊ ten program ponownie?"
 61500 "already running.\nSecond run may couse errors in his action.\n\nRun program again?"

 60501 "Ostrzeøenie"
 61501 "Warning"

 60502 "Wystπpi≥ krytyczny b≥πd podczas archiwizowania b≥Ídnego pliku wydruku\nProgram WinPrint zostanie zakoÒczony"
 61502 "Critical error during bad print file archiving\nProgram WinPrint will exit"

 60503 "Wystπpi≥ krytyczny b≥πd podczas usuwania pliku wydruku z kolejki\nProgram WinPrint zostanie zakoÒczony"
 61503 "Critical error during print removing file from queue\nProgram WinPrint will exit"

 60504 "Wystπpi≥ krytyczny b≥πd podczas usuwania pliku formatujπcego z kolejki\nProgram WinPrint zostanie zakoÒczony"
 61504  "Critical error during removing format file from queue\nProgram WinPrint will exit"


 60600 "PrintString: podane marginesy sπ za duøe, brak miejsca by wydrukowaÊ stronÍ"
 61600 "PrintString: margins too big, not enough space to print"

END
